{% extends 'base.html' %}

{% block content %}
<form class="user-form" action="" method="post">
    {% csrf_token %}
    <h2 class="form-title">{{ title }}</h2>
    <input type="hidden" name="next" value="{{ next }}">
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p class="form-field"><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><button class="form-button" type="submit">Войти</button></p>
</form>
{% endblock %}